.conflict-card {

	background-color: rgb(255, 187, 187);
	padding-right: 6%;
}

.ignore-button {
	position: absolute;
	top: 4px;
	right: 4px;
	font-weight: 300;
	font-size: 12px;
	min-width: unset;
	padding: 4px 8px;
}