<mat-card class="profile" appearance="outlined">
  <div class="user container">
  <mat-card-header>
    <img mat-card-avatar class="user_pic" src="/assets/Capture.JPG" alt="profile-pic">
    
    <h1 class="header">Guest User</h1>
    <a class = "log out" routerLink="/login">Log Out</a>
  </mat-card-header>
  

  </div>
  <mat-divider></mat-divider>
  <mat-card-content class="profile card content">
      <button class="export_button">
        <mat-icon>download</mat-icon>
                <p class="p export">Export</p>
      </button>
  </mat-card-content>
</mat-card>