.profile{
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
    min-height: 56%;
    max-height: 56%;
    border-color: black;
    background-color: rgb(73, 73, 73);
    border-radius: 8px;
    display: flex;
}


.user_pic{
    width:20%;
    height:20%;
}

.Account{
    background-color: transparent;
}

// .profile.h1{
//     text-align: center;
// }

// .logoff-button-row .mat-mdc-button-base {
//      border-radius: 20px !important;
//      background-color: rgb(192, 156, 56);
// }

// .profile_box.your_profile{
//     background-color: transparent;
//  }

 .user.container {
    background-color: transparent;

 }

 a.log.out {
	color: #ffffff;
	text-decoration: none;
	position: absolute;
	left: 27.65%;
	top: 40%;
    font-size:x-small;
}

.header {
	color: #000000;
	position: absolute;
	left: 27%;
	top: 23%;

}

.mat-card-header {
	padding: 0px !important;
    height: 90%;
}

.profile.card.content {
    position: relative;
    padding-top: 5%;
    padding-left: 5%;
}

.p.export {
    position: relative;
    left:0%;
    font-size: 1em;
}

.export_button{
    position: relative;
    display: flex;
    flex: 0 0 21.5%;
    bottom: 2px;
    text-decoration-color:rgb(0, 0, 0);
    height: 100%;
    width: 5%;
    padding-top: 2%;
}