

<!-- Background image -->
<div class="spacer layer1">
  <div class="login-container">
    <mat-card class="login-mat_container">
      <form [formGroup]="loginForm" (submit)="loginUser()">
      <div class="title_login">
        <mat-card-title>Login</mat-card-title>
      </div>
      <br>
      <br>
      <mat-card-content>
      
          <div class="username_title">
            <p>Your Username</p>
          </div>
          <mat-form-field appearance="outline" class="username_box">
            <input type="text" matInput placeholder="Username" formControlName="username">
            <mat-error>
              Please provide a valid username
            </mat-error>
          </mat-form-field>
        
          
          <div class="password_title">
              <p>Your Password</p>
          </div>
          <mat-form-field appearance="outline" class="password_box">
            <input type="password" matInput placeholder="Password" formControlName="password">
          </mat-form-field>
            
    
            <div class="login-button">
              <button mat-flat-button type="submit" (click)="navigateToHome()">Login</button>    
            </div>
  
            <a class="registration_link" routerLink='/registration'>Don't Have an account</a>
  
          
       
    
      
      </mat-card-content>
    </form>
  
      </mat-card>
  </div>
</div>




