:host {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

:host ::ng-deep .register-mat.mat-mdc-filled-button.mat-primary:not([disabled]) {
	background:#001220;
	color:#fff;
}

.spacer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.layer1 {
	background-image: url('/assets/layered-waves-haikei.svg');
}

.spacer {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.logo-bg {
	position: relative;
	align-items: center;
	margin-top: -45vh;
	opacity: .80;
	pointer-events: none;
	z-index: 1;
	width: clamp(50vh, 100vmin, 110vh);
}

.uno-logo-bg {
	position: absolute;
	left:20px;
	top:20px;
	z-index: 1;
	width: 5vh;
}

.login-container {
	position: absolute;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-mat_container {
	padding: 40px;
	background: white;
	border-radius: 10px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
	width: 500px;
	text-align: center;
}

mat-form-field {
	width: 100%;
	margin: 10px 0;
}

button {
	margin-top: 20px;
	padding: 12px 24px;
	font-size: 18px;
	font-weight: bold;
	background-color: lightblue;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	width: 100%;
}

.registration_link {
	display: block;
	margin-top: 20px;
	text-align: center;
	cursor: pointer;
}