<div *ngIf="data">
    <h1>{{ data.message }}</h1>
    <p>{{ data.content }}</p>
  </div>


<div class="Scheduler_app">
  <h1 class="sch">Schedular App</h1>
<br>
<br>
<br>

  
 
</div>


<div class="profile_box">
  
  <img class="user_pic" src="/assets/Capture.JPG" alt="profile-pic" >
  <p class="Account"> Guest User</p>
  <button class="back_home_button" (click)="navigateToHome()">Sign off</button>

</div>

<div class="upload_box">
  <div class="upload_file" >
    <form action="/action_page.php" action="/action_page.php" >
      <label for="myfile">Upload File:</label>
      <br>
      <input type="file" ><br><br>
      <input type="submit">
    </form>

  </div>
  
</div>


