.upload-box {
	padding: 4%;
	background-color: rgb(73, 73, 73);
	width: 100%;
	border-radius: 8px;
	align-items: center;
}

.upload_file {
	background-color: transparent;
}
.upload-pic {
	background-color: transparent;

}
.file-input {
	background-color: transparent;
}
.upload_text {
	background-color: transparent;
}
