<div class="spacer layer1">
	<div class="login-container">
		<mat-card class="login-mat_container">
			<form [formGroup]="createAnAccount" (ngSubmit)="createUser()">
				<div class="title_login">
					<mat-card-title>Create Account</mat-card-title>
				</div>

				<mat-card-content>

					<mat-form-field appearance="outline">
						<mat-label>Username</mat-label>
						<input type="text" matInput placeholder="Username" formControlName="username" />
					</mat-form-field>

					<mat-form-field appearance="outline">
						<mat-label>Email</mat-label>
						<input type="email" matInput placeholder="Email" formControlName="email" />
					</mat-form-field>

					<mat-form-field appearance="outline">
						<mat-label>Password</mat-label>
						<input type="password" matInput placeholder="Password" formControlName="password" />
					</mat-form-field>

					<mat-form-field appearance="outline">
						<mat-label>Confirm Password</mat-label>
						<input type="password" matInput placeholder="Confirm Password" formControlName="confirm_password" />
					</mat-form-field>

					
					<button mat-flat-button
					color="primary"
					type="submit"
					[disabled]="createAnAccount.invalid || createAnAccount.value.password !== createAnAccount.value.confirm_password">
					Create Account
					</button>

				</mat-card-content>
			</form>
		</mat-card>
	</div>
</div>