.upload {
	//display: flex;
	//flex-direction: column;
	//justify-content: center;
	align-items: center;
	padding: 4%;
	background-color: rgb(73, 73, 73);
	//width: 100%;
	border-radius: 8px;
	min-height: 100%;
}

.upload_file {
	margin-left: 47%;
}
.upload.pic {
	padding: 5%;
	width:30%;
	margin-left: 50%;
	margin-right: 50%;
	margin-top: 10%;
	opacity: 50%;

}
.file.input {
	background-color: transparent;
	margin-left: 20%;
}
.upload_text {
	background-color: transparent;
}

.space{
	flex: 0 0 20%;

	
}