<mat-card class="upload" appearance="outlined">
	<mat-card-header>
	  <mat-card-title>Upload File</mat-card-title>
	</mat-card-header>
	<mat-divider></mat-divider>
  
	<!-- spinner sits on top without touching your layout -->
	<div class="spinner-overlay my-upload-spinner" *ngIf="loading">
		<mat-progress-spinner
		mode="indeterminate"
		color="warn">
		</mat-progress-spinner>
	  </div>
  
	<mat-card-content>
	  <form action="/action_page.php"></form>
	</mat-card-content>
  
	<img
	  class="upload-pic"
	  [class.dimmed]="loading"
	  src="/assets/cloud_upload_img_grad.png"
	  alt="Upload Icon"
	/>
  
	<mat-card-content class="space"></mat-card-content>
  
	<mat-card-content class="file">
	  <form action="/action_page.php">
		<input
		  type="file"
		  (change)="onFileSelected($event)"
		  accept=".csv"
		  [disabled]="loading"
		/>
	  </form>
	</mat-card-content>
  </mat-card>
  