<mat-card class="upload" appearance="outlined">
	<mat-card-header>
	  <mat-card-title>Upload File</mat-card-title>
	</mat-card-header>
	<mat-divider></mat-divider>
	<mat-card-content>
	  <form action="/action_page.php">
		</form>
		</mat-card-content>
		<img class="upload pic" src="/assets/cloud_upload_img.png" alt="Upload Icon">

		<mat-card-content class="space"></mat-card-content>


		<mat-card-content>
			<form action="/action_page.php">
		<input type="file" (change)="onFileSelected($event)" accept=".csv">   
	</form>
</mat-card-content>
	  
  </mat-card>
  