.scroll-wrapper {
	width: 100%;
	overflow-x: auto;
	font-family: monospace;
}

mat-card.listview {
	min-width: max-content;
	max-width: 100%;
}

.row-list-container {
	max-height: 80vh;
	overflow-y: auto;
}

.row,
.header-row {
	display: flex;
	width: max-content;
	align-items: center;
}

.cell,
.header-cell {
	white-space: pre;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 6px 4px;
	border-bottom: 1px solid #ddd;
	font-family: monospace;
}

.header-row {
	font-weight: bold;
	border-bottom: 2px solid #000;
	background: #f77e76;
	position: sticky;
	top: 0;
	z-index: 1;
}

:host ::ng-deep .cell,
:host ::ng-deep .header-cell {
	width: 30ch;
}

:host ::ng-deep .cell.id,
:host ::ng-deep .header-cell.id {
	width: 30ch;
}

.column-btn.mat-mdc-outlined-button {
	color: white !important;
	background-color: #001220;
	border: 1px solid #001220 !important;
}

.toolbar {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 0.5rem 0;
}

.search-field {
	flex: 1;
	max-width: 50%;
}
