.row {
	display: flex;
	padding: 6px 0;
	border-bottom: 1px solid #ddd;
  }

  .cell {
	flex: 1;
	padding: 0 12px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
  }
  

  .row-hover:not(.selected):hover {
	background: #f5f5f5;
  }

  .selected,
  .selected:hover {
	background: #c5dafa;
  }
  