<mat-card class="listview" appearance="outlined">
  <mat-card-title>Course List</mat-card-title>
  <mat-divider></mat-divider>

  <mat-card *ngIf="courses.length > 0" class="table-container">
    <table class="interactive-table">
      <thead>
        <tr>
          <th *ngFor="let key of courses[0] | keyvalue">{{ key.key }}</th>

        </tr>
      </thead>
      <tbody>
        <tr 
          *ngFor="let course of courses" 
          (click)="onRowClick(course)" 
          class="row-hover"
        >
          <td *ngFor="let key of course | keyvalue">{{ key.value }}</td>

        </tr>
      </tbody>
    </table>
</mat-card>
</mat-card>


