:host ::ng-deep .mat-card-header {
	padding: 0px !important;
}

:host ::ng-deep .mat-card-header-text {
	margin: 0 !important;
}

:host ::ng-deep .mat-card-title,
:host ::ng-deep .mat-card-subtitle {
	margin: 0 !important;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}