:host ::ng-deep .mat-card-header {
	padding: 0px !important;
}

:host ::ng-deep .mat-card-header-text {
	margin: 0 !important;
}

:host ::ng-deep .mat-card-title,
:host ::ng-deep .mat-card-subtitle {
	margin: 0 !important;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.login-btn.mat-mdc-flat-button.mat-primary {

	--mdc-filled-button-container-color:#001220;

	--mdc-filled-button-label-text-color:#fff;
}

.login-btn.mat-mdc-unelevated-button.mat-primary:not([disabled]) {
	--mdc-filled-button-container-color:#001220;
	--mdc-filled-button-label-text-color:#fff;
}

.login-btn.mat-mdc-unelevated-button.mat-primary:not([disabled]),
.register-mat.mat-mdc-unelevated-button.mat-primary:not([disabled]) {
	--mdc-filled-button-container-color:#001220;
	--mdc-filled-button-label-text-color:#fff;
}

.column-btn.mat-mdc-outlined-button{
	--mdc-outlined-button-outline-color:#001220;
	--mdc-outlined-button-label-text-color:#001220;
}



.mat-progress-spinner .mat-progress-spinner-path {
stroke: #ef5f67 !important;
}

.my-upload-spinner .mat-progress-spinner-path {
	stroke: #ef5f67 !important;
  }

  .mat-progress-spinner .mat-progress-spinner-path {
  stroke: #ef5f67 !important;
}