
.trevor-container {
	width: 100%;
	display: flexbox;
	
	// max-height: 74vh;
}

.class-grid {
	display: grid;
	grid-template-rows: auto ;
	font-family: Arial, sans-serif;
	border: 1px solid #ccc;
	align-items: center;
	white-space: wrap;
	
	
  }
  
  .header-row {
	display: grid;
	grid-template-columns: 150px repeat(22, 1fr);
	position: sticky;
  }
  
  .row {
	display: grid;
	grid-template-columns: 150px repeat(22, 1fr);
<<<<<<< HEAD
	height: calc((87.5vh) / 5);
=======
	height: calc((100vh - 15vh) / 5);
>>>>>>> parent of fb3c1f4 (-visual design overhaul with minimal css adjustments)
  }
  
  .cell {
	border: 1px solid #ccc;
	padding: 6px;
	min-height: 2vh;
	white-space: nowrap;
  }
  
  .cell.header {
    background-color: #e9ecef;
    font-weight: bold;
    text-align: center;
    display: flex;

    justify-content: center;
	overflow: hidden;
  }
  
  .class-card {
    background-color: #cce5ff;
    border-left: 4px solid #004085;
	overflow-x: auto;
    border-radius: 4px;
    font-size: 0.9rem;
    height: 100%;
	width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  